@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.my-button {
  @apply px-8 py-4 bg-amber-800 text-white font-bold rounded-full shadow-lg hover:bg-white hover:text-amber-800 transition;
}

.my-title {
  @apply text-5xl font-semibold mb-10;
}